body{
    margin: 0; padding: 0;
    font-family: 'Raleway', sans-serif;
}

/*-----------home-outdoor section Start ----------------------------*/
.flexible{
    display: flex;
}
.half-outdoor{
    width: 50%;
    padding-left: 5%;
    padding-top: 25px;
}
 h1 {
    color: #330a69;
    font-size:40px;
    line-height: 50%;
    font-weight: 700;
}
.half-outdoor-inner{
    padding-top: 30%;
}
span{
    color:tomato;
}
p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
.half-outdoor a{
    text-decoration: none;
    background-image: linear-gradient(#FE4D2F, #FC8F49);
    padding: 10px 30px;
    border-radius: 6%;
    color: white;
    font-weight: 500;
    
}
.half-outdoor img{
    width: 70%;
    padding-top: 15px;
}
.home-outdoor{
    margin-bottom: 10%;
}

/*-----------home-outdoor section End ----------------------------*/


/* -------------Section Two about us start -------- */

.half-about{
    width: 50%;
    padding-left: 10%;
}
#about-id {
    padding-right: 10%;
    padding-top: 50%;
    font-size: 20px;
}
.half-about img{
    width: 60%;
    padding-left: 20%;
    padding-top: 15%;
}
.half-about h1{
    font-size: 40px;
    font-weight: 700;
    color: #707070;
}
#about-id a{
    text-decoration: none;
    background-image: linear-gradient(#FE4D2F, #FC8F49);
    padding: 10px 30px;
    border-radius: 6%;
    color: white;
    font-weight: 500;
}
.about-us{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position:right;
}


/* -------------Section Two abouts us End -------- */

/* ------------section three recipies items start ----------- */
.yummy-recipies{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.yummy-items-menu{
    width: 25%;
    border: 1px solid white;
    border-radius: 5%;
    margin-left: 6%;
    box-shadow: 5px 10px 30px #888888;
}
.menu-items-inner img{
    width: 95%;
    border-radius: 5%;
        
}
.menu-items-inner{
    padding-left: 5%;
    padding-top: 5%;
}
.recipies{
    margin-bottom: 10%;
}
    /* subscribers start*/
.subscriber{
    margin-top: 10%;
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 20%;
    text-align: center;
    border: 1px solid whitesmoke;
    border-radius: 2%;
    box-shadow: 10px 10px 10px #888888;
}
.subscriber-num {
    padding-inline-end: 5%;
}
.subscriber-num h3{
    font-size: 30px;
}

    /* subscribers end*/

/*------------section three recipies items end ----------- */ 

/* -------- Extra Section One : chef-team  start--------- */
.chef-team-title{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.chef-profile{
    width: 20%;
    margin-left: 5%;
    padding-bottom: 5%;
}
.chef-profile img{
    width: 80%;
    padding-left: 5%;
    border-radius: 10px 100px / 120px;
}
.chef-team{
    background-image: url(images/shapes/Frame58.jpg);
    background-repeat: no-repeat;
    background-position:top;
}

/* -------- Extra Section One : chef-team  end--------- */


/* ------ footer start -------- */
.footer{
    height: 200px;
    text-align: center;
    background-color: #0B0D17;
}
.footer-items{
    padding-top: 2%;
}
.footer-items p, small{
    color: whitesmoke;
}
/* -------footer end ---------- */