body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/*-----------home-outdoor section Start ----------------------------*/
.home-outdoor{
    display: flex;
}
.half-outdoor{
    width: 50%;
    padding-left: 5%;
    padding-top: 25px;
}
.half-outdoor h1 {
    color: #575757;
    font-size:40px;
    line-height: 50%;
    font-weight: 700;
}
.half-outdoor-inner{
    padding-top: 30%;
}
span{
    color:tomato;
}
.half-outdoor p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
.half-outdoor a{
    text-decoration: none;
    background-image: linear-gradient(#FE4D2F, #FC8F49);
    padding: 10px 30px;
    border-radius: 6%;
    color: white;
    font-weight: 500;
    
}
.half-outdoor img{
    width: 70%;
    padding-top: 15px;
}

/*-----------home-outdoor section End ----------------------------*/

